<!-- <div routerLink="/contents" class="ribbon position-absolute top-0 start-50 badge bg-danger d-flex align-items-center justify-content-end pe-4 fs-6"></div>
<div class="cover position-absolute top-50 start-50 translate-middle"></div>
<div class="binder position-absolute top-50 end-50 translate-middle"></div>
<div class="title position-absolute top-50 start-50 translate-middle text-center fs-3 fw-bold">Ghiblisaurus</div> -->


<div class="cover-left position-absolute top-50"></div>
<div class="cover-right position-absolute top-50"></div>
<div class="binder position-absolute top-50 start-50 translate-middle"></div>
<div class="page-left position-absolute top-50">
    <app-film-list></app-film-list>
</div>
<div class="page-right position-absolute top-50">
    <app-film-details></app-film-details>
</div>
<div class="page-binder position-absolute top-50 start-50 translate-middle"></div>
