<div class="cover-left position-absolute top-50"></div>
<div class="cover-right position-absolute top-50"></div>
<div class="binder position-absolute top-50 start-50 translate-middle"></div>
<div class="page-left position-absolute top-50">
    <app-film-list></app-film-list>
</div>
<div class="page-right position-absolute top-50">
    <app-film-details></app-film-details>
</div>
<div class="page-binder position-absolute top-50 start-50 translate-middle"></div>

<div class="tip position-absolute top-0 opacity-50">
    <div class="alert alert-success" role="alert">
        Click Outside to Close!
    </div>
</div>