<div routerLink="/contents" class="ribbon position-absolute top-0 start-50 badge bg-danger d-flex align-items-center justify-content-end pe-4 fs-6"></div>
<div class="cover position-absolute top-50 start-50 translate-middle"></div>
<div class="binder position-absolute top-50 end-50 translate-middle"></div>
<div class="title position-absolute top-50 start-50 translate-middle text-center fs-3 fw-bold">Ghiblisaurus</div>
<div class="subtitle position-absolute top-50 start-50 translate-middle text-center fs-6 fw-bold">Version {{currentApplicationVersion}}</div>