// Variables
$light-brown: #a0522d;
$dark-brown: #804529;
$fonts: 'Eras Bold ITC', 'Times New Roman', Times, serif;

// Styling
.cover {
    background-color: $light-brown;
    border-radius: 10px;
    width: 80%;
    height: 60%;
}

.binder {
    background-color: $dark-brown;
    width: 10%;
    height: 60%;
    left: 15%;
}

.binder::before {
    content: '';
    position: absolute;
    border-right: 5px $light-brown dashed;
    width: 10%;
    height: 90%;
    right: 10%;
    top: 5%;
}

.title {
    top: 50%;
    font-family: $fonts;
}

.ribbon {
    width: 10%;
    height: 5%;
    top: 40%;
    right: 0;
    transition: 0.4s;
}

// Media Query
@media (min-width: 500px) {
  .cover {
    max-width: 30%;
  }

  .binder {
    width: 5%;
    left: 37%;
  }

  .ribbon {
    right: 29%;
  }

  .ribbon:hover {
    right: 26%;
  }
}
