.app-film-details {
  height: 95%;
  margin-top: 1rem;
  overflow-y: auto;
}

.film-img {
    margin-right: 1rem;
}

// Media Query
@media (max-width: 500px) {
  .film-img {
    height: 200px;
    margin: 0 0 1rem 0;
  }
}
